<h1>Make it Cheaper</h1>

<h2>Fill in the form for a quick call</h2>

<% if local_assigns.has_key? :errors %>
  <% errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<form action='/form' method='post'>

  <div>
    <input type='text' name='name' placeholder='Name'>
  </div>
  <div>
    <input type='text' name='business_name' placeholder='Business Name'>
  </div>
  <div>
    <input type='email' name='email' placeholder='Email'>
  </div>
  <div>
    <input type='number' name='telephone' placeholder='Telephone number'>
  </div>
  <div>
    <input type='submit' value='Submit'>
  </div>
</form>
